
<table style="width:100%">
  <tr>
    <th>Command</th>
    <th>Description</th>
    <th>Usage</th>
  </tr>
  <tr>
    <td><%= prefix%>ping</td>
    <td>Main</td>
    <td>Get Delico's Ping.</td>
  </tr>
</table>
<link rel="stylesheet" href="./public/css/command.css">